openapi: 3.2.0
info:
  title: Bump.sh Documentation change API
  description: 'This is the official Bump.sh API documentation.  Obviously created

    with Bump.sh.


    The Bump.sh API is a REST API. It enables you to [create, update](#operation-post-versions)

    or [preview](#operation-post-previews) your API(s) documentation,

    [create stand-alone documentation diffs](#operation-post-diffs) or

    [validate a documentation definition](#operation-post-validations)

    (currently in OpenAPI or AsyncAPI).


    Our [webhook](#webhook-documentation-change) also lets you get

    notifications every time a change is introduced in your API.

    '
  version: '1.0'
servers:
- url: https://bump.sh/api/v1
  name: Production
security:
- Authorization token: []
- Basic token: []
tags:
- name: Documentation change
paths: {}
webhooks:
  DocStructureChange:
    post:
      tags:
      - Documentation change
      operationId: webhookDocStructureChange
      summary: Structure change
      description: Payload sent when your documentation receives a deployment with a structure change.
      security: []
      parameters:
      - name: X_BUMP_SIGNATURE_256
        in: header
        description: The hash signature of the payload. Bump.sh uses a HMAC hex digest (SHA256) to compute the signature of the body payload with the webhook secret. More info in help.
        example: a0b1c1d2e3f5a8b13c21d34e55f89a144b233c377d610e987f1597a2584b4181
        required: true
        schema:
          type: string
      requestBody:
        description: Information about last documentation structure change of your API history
        content:
          application/json:
            schema:
              type: object
              required:
              - api
              - diff
              properties:
                api:
                  description: Details of the affected API
                  $ref: '#/components/schemas/Api'
                diff:
                  description: Details of the documentation change
                  $ref: '#/components/schemas/Diff'
components:
  schemas:
    Diff:
      type: object
      properties:
        id:
          type: string
          description: Unique id of your diff
          example: 2361df99-1234-4c80-a0cc-45c9fe565812
        title:
          type: string
          description: The title of the last parsed definition
          example: Bump.sh Api
        public_url:
          type: string
          description: The public URL of your diff
          example: https://bump.sh/doc/my-own-documentation/change/2361df99
        breaking:
          type: boolean
          description: Identifies if the diff includes breaking changes
          example: false
        details:
          type: array
          description: Details of each change as a list of diff items. Present only if `json` format has been requested
          items:
            $ref: '#/components/schemas/DiffItem'
        previous_version_url:
          type: string
          description: URL of previous version specification, in JSON format
          example: https://developers.bump.sh/changes/750f15d8/previous.json
        current_version_url:
          type: string
          description: URL of current version specification, in JSON format
          example: https://developers.bump.sh/changes/750f15d8/current.json
    Api:
      type: object
      properties:
        id:
          type: string
          description: UUID of this API
          example: 3ef8f52f-9056-4113-840e-2f7183b90e06
        name:
          type: string
          description: Name of this API
          example: Bump.sh
        description:
          type: string
          description: Description of this API from the latest definition
          example: This is the official Bump.sh API documentation. Obviously created with Bump.sh
        slug:
          type: string
          description: Slug of this API
          example: bump
        url:
          type: string
          deprecated: true
        humanUrl:
          type: string
          description: public documentation URL
          example: https://developers.bump.sh/
        tags:
          type: array
          items:
            type: string
          description: a list of descriptive strings which identify the API within a Hub
        version:
          type: string
          description: Version of this API taken from the latest definition
          example: '1.0'
        properties:
          type: array
          description: Extra properties attached to this API
          items:
            type: object
            properties:
              type:
                type: string
                description: Type of the extra property
                enum:
                - OpenAPI
                - AsyncAPI
                - x-access-level
                - x-definition-type
              data:
                type: string
                description: Content of the extra property (`data` or `url`)
              url:
                type: string
                description: Content of the extra property (`data` or `url`)
            example:
              type: OpenAPI
              url: https://developers.bump.sh/source.json
        created:
          type: date
          description: Creation date of this API
          example: '2022-01-07'
        modified:
          type: date
          description: Last udpate date of this API
          example: '2022-04-07'
    DiffItem:
      properties:
        id:
          type: string
          description: The identifier of the diff change
          example: post-versions
        name:
          type: string
          description: The human name of diff change
          example: POST /versions
        status:
          type: string
          enum:
          - added
          - modified
          - removed
          example: modified
        type:
          type: string
          description: The object type of the diff change
          example: endpoint
        breaking:
          type: boolean
          description: Identifies if the item is a breaking change
          example: true
        previous:
          type: object
          description: Object attributes values, before change. Possible attributes depend on the object `type` ('endpoint', 'body', 'response'…)
          example:
            path: /versions
            deprecated: false
            verb: POST
        current:
          type: object
          description: Object attributes values, after change. Possible attributes depend on the object `type` ('property', 'operation', 'message'…)
          example:
            path: /version
            deprecated: false
            verb: PUT
        breaking_details:
          type: object
          description: 'Represents breaking change reasons, used to give more

            context about this question: _why is this change

            breaking?_

            '
          properties:
            message_key:
              type: string
              description: This property is used to generate the human message about breaking change reason
              example: removed_not_deprecated
            breaking_attributes:
              type: array
              description: 'When diff status is modified, this property is an

                array including every modified attribute responsible

                of the breaking change.

                '
              items:
                type: string
              example:
              - verb
              - path
        children:
          type: array
          description: A list of children item changes
          items:
            $ref: '#/components/schemas/DiffItem'
  securitySchemes:
    Authorization_token:
      type: http
      scheme: token
    Basic_token:
      type: http
      scheme: basic
      deprecated: true
x-topics:
- title: Authentication
  content:
    $ref: ./authentication.md
  example:
    $ref: ./authentication-example.md
