openapi: 3.2.0
info:
  title: Bump.sh Api Branches MCP servers API
  description: 'This is the official Bump.sh API documentation.  Obviously created

    with Bump.sh.


    The Bump.sh API is a REST API. It enables you to [create, update](#operation-post-versions)

    or [preview](#operation-post-previews) your API(s) documentation,

    [create stand-alone documentation diffs](#operation-post-diffs) or

    [validate a documentation definition](#operation-post-validations)

    (currently in OpenAPI or AsyncAPI).


    Our [webhook](#webhook-documentation-change) also lets you get

    notifications every time a change is introduced in your API.

    '
  version: '1.0'
servers:
- url: https://bump.sh/api/v1
  name: Production
security:
- Authorization token: []
- Basic token: []
tags:
- name: MCP servers
paths:
  /mcp_servers/{mcp_server_id_or_slug}/deploy:
    post:
      tags:
      - MCP servers
      x-beta: true
      summary: Deploy a New MCP Server Document
      description: 'Deploy a new workflow document for a given MCP server.

        '
      security:
      - Authorization token: []
      parameters:
      - in: path
        name: mcp_server_id_or_slug
        schema:
          type: string
        required: true
        example: holiday-booking
        description: UUID or slug of a MCP server
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - definition
              properties:
                definition:
                  type: string
                  description: Workflow definition of the MCP server.
                  example: '{"flower": "0.1", "title": "About crabs"}

                    '
      responses:
        '201':
          summary: MCP server workflow document successfully deployed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDocument'
        '204':
          summary: MCP server workflow document already exists
        '422':
          summary: Invalid MCP server deployment request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    WorkflowDocument:
      type: object
      properties:
        id:
          type: string
          description: UUID of the workflow deployment
        mcp_server_id:
          type: string
          description: UUID of the MCP server
    Error:
      properties:
        message:
          type: string
          description: Human readable error message.
          example: Invalid definition file
        errors:
          type: object
          description: Hash of invalid attributes with their error messages.
          example:
            raw_definition:
            - The property '#/paths//docs/{:id}/validations/post' contains additional properties ["yolo"] outside of the schema when none are allowed
  securitySchemes:
    Authorization token:
      type: http
      scheme: token
    Basic token:
      type: http
      scheme: basic
      deprecated: true
x-topics:
- title: Authentication
  content:
    $ref: ./authentication.md
  example:
    $ref: ./authentication-example.md
